<a href="https://colab.research.google.com/github/dmorton714/data-2-demo/blob/main/week_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import matplotlib as plt
import matplotlib.pyplot as plt

Link to the first set of data (this is a JSON file):  https://www.healthit.gov/data/open-api?source=Surescripts_County_04-2014.csv

In [3]:
Surescripts_Network = pd.read_json("https://www.healthit.gov/data/open-api?source=Surescripts_County_04-2014.csv")
# Surescripts_Network.head()

kaggle link to the data: https://www.kaggle.com/datasets/hhs/health-insurance

In [4]:
aca_coverage = pd.read_csv("https://raw.githubusercontent.com/dmorton714/data-2-demo/main/states.csv")
# aca_coverage.head()

In [5]:
def type_convert(df):
  df['State'] = df['State'].astype('string')
  df['Marketplace Tax Credits (2016)'] = df['Marketplace Tax Credits (2016)'].astype('float')
  df['State Medicaid Expansion (2016)'] = df['State Medicaid Expansion (2016)'].astype('bool')
  df['Average Monthly Tax Credit (2016)'] = df['Average Monthly Tax Credit (2016)'].str.replace(' ', '').str.lstrip("$").astype('int')
  return(df)

In [6]:
aca_coverage = type_convert(aca_coverage)

In [7]:
Surescripts_Network['Period'] = pd.to_datetime(Surescripts_Network['Period'])
# Surescripts_Network.head()

In [8]:
# Lets change the column names so they are all lowercase and don't have any spaces. Let's also give the last column name a better title.
surescripts = Surescripts_Network
surescripts.columns = surescripts.columns.str.lower()
surescripts.columns = surescripts.columns.str.replace(" ", "_")
surescripts.head()

,region,region_code,county_name,state_fips,county_fips,fips,period,percent_of_physicians_actively_using_an_ehr_to_e-prescribe_via_the_surescripts_network
0,Alabama,AL,Autauga,1.0,1.0,1001.0,2014-04-01,0.33
1,Alabama,AL,Baldwin,1.0,3.0,1003.0,2014-04-01,0.68
2,Alabama,AL,Barbour,1.0,5.0,1005.0,2014-04-01,0.52
3,Alabama,AL,Bibb,1.0,7.0,1007.0,2014-04-01,1.00
4,Alabama,AL,Blount,1.0,9.0,1009.0,2014-04-01,0.21

In [9]:
from sqlite3 import connect
coverage = aca_coverage
conn = connect(':memory:')
# create tables
surescripts.to_sql("surescripts", conn)

2938

https://www.datacamp.com/tutorial/tutorial-how-to-execute-sql-queries-in-r-and-python

In [10]:
# An example of using sql syntax to read a table:

pd.read_sql("select * from surescripts", conn)

,index,region,region_code,county_name,state_fips,county_fips,fips,period,percent_of_physicians_actively_using_an_ehr_to_e-prescribe_via_the_surescripts_network
0,0,Alabama,AL,Autauga,1.0,1.0,1001.0,2014-04-01 00:00:00,0.33
1,1,Alabama,AL,Baldwin,1.0,3.0,1003.0,2014-04-01 00:00:00,0.68
2,2,Alabama,AL,Barbour,1.0,5.0,1005.0,2014-04-01 00:00:00,0.52
3,3,Alabama,AL,Bibb,1.0,7.0,1007.0,2014-04-01 00:00:00,1.00
4,4,Alabama,AL,Blount,1.0,9.0,1009.0,2014-04-01 00:00:00,0.21
...,...,...,...,...,...,...,...,...,...
2933,2933,Wyoming,WY,Teton,56.0,39.0,56039.0,2014-04-01 00:00:00,0.46
2934,2934,Wyoming,WY,Uinta,56.0,41.0,56041.0,2014-04-01 00:00:00,0.36
2935,2935,Wyoming,WY,Washakie,56.0,43.0,56043.0,2014-04-01 00:00:00,0.89
2936,2936,Wyoming,WY,Weston,56.0,45.0,56045.0,2014-04-01 00:00:00,1.00
2937,2937,,None,None,NaN,NaN,NaN,None,NaN

1. The most basic command is **select**. Let's 'limit' ourselves to look at the first five rows of the data for all columns.

In [11]:
# question 1 code below
pd.read_sql("select * from surescripts limit 5", conn)

,index,region,region_code,county_name,state_fips,county_fips,fips,period,percent_of_physicians_actively_using_an_ehr_to_e-prescribe_via_the_surescripts_network
0,0,Alabama,AL,Autauga,1.0,1.0,1001.0,2014-04-01 00:00:00,0.33
1,1,Alabama,AL,Baldwin,1.0,3.0,1003.0,2014-04-01 00:00:00,0.68
2,2,Alabama,AL,Barbour,1.0,5.0,1005.0,2014-04-01 00:00:00,0.52
3,3,Alabama,AL,Bibb,1.0,7.0,1007.0,2014-04-01 00:00:00,1.00
4,4,Alabama,AL,Blount,1.0,9.0,1009.0,2014-04-01 00:00:00,0.21

2. Let's view all rows for Texas

In [12]:
# question 2 code here
pd.read_sql("select * from surescripts WHERE region = 'Texas'", conn)

,index,region,region_code,county_name,state_fips,county_fips,fips,period,percent_of_physicians_actively_using_an_ehr_to_e-prescribe_via_the_surescripts_network
0,2373,Texas,TX,Anderson,48.0,1.0,48001.0,2014-04-01 00:00:00,0.73
1,2374,Texas,TX,Andrews,48.0,3.0,48003.0,2014-04-01 00:00:00,0.15
2,2375,Texas,TX,Angelina,48.0,5.0,48005.0,2014-04-01 00:00:00,0.77
3,2376,Texas,TX,Aransas,48.0,7.0,48007.0,2014-04-01 00:00:00,0.64
4,2377,Texas,TX,Armstrong,48.0,11.0,48011.0,2014-04-01 00:00:00,1.00
...,...,...,...,...,...,...,...,...,...
212,2585,Texas,TX,Wood,48.0,499.0,48499.0,2014-04-01 00:00:00,0.83
213,2586,Texas,TX,Yoakum,48.0,501.0,48501.0,2014-04-01 00:00:00,0.42
214,2587,Texas,TX,Young,48.0,503.0,48503.0,2014-04-01 00:00:00,0.41
215,2588,Texas,TX,Zapata,48.0,505.0,48505.0,2014-04-01 00:00:00,1.00
216,2589,Texas,TX,Zavala,48.0,507.0,48507.0,2014-04-01 00:00:00,0.00

In [13]:
pd.read_sql("select *, count(*) from surescripts where region = 'Kentucky'", conn)

,index,region,region_code,county_name,state_fips,county_fips,fips,period,percent_of_physicians_actively_using_an_ehr_to_e-prescribe_via_the_surescripts_network,count(*)
0,936,Kentucky,KY,Adair,21.0,1.0,21001.0,2014-04-01 00:00:00,0.17,118

In [14]:
# Write your function below this. Give it a short, memorable name.
def sql(a_string):
    return(pd.read_sql(a_string, conn))

In [15]:
# sql("select * from surescripts WHERE region = 'Kentucky'")

6. Let's select the state, county, state fips, county fips, and fips where the county fips equals 51.

Use a multi-line string assigned to a query variable then pass that to the function.

In [16]:
# pd.read_sql("""SELECT region, county_name, state_fips, county_fips, fips 
#   FROM surescripts 
#   WHERE county_fips = 51""", conn)

## **We are going to read in another data set to answer a new question. *Is there evidence for a correlation between income level and the rate of uninsured for county level data?***

In [19]:
income = pd.read_csv("https://raw.githubusercontent.com/dmorton714/data-2-demo/main/kaggle_income.csv", encoding='latin-1') # this one is encoded in latin-1
income.head()

,id,State_Code,State_Name,State_ab,County,City,Place,Type,Primary,Zip_Code,Area_Code,ALand,AWater,Lat,Lon,Mean,Median,Stdev,sum_w
0,1011000,1,Alabama,AL,Mobile County,Chickasaw,Chickasaw city,City,place,36611,251,10894952,909156,30.771450,-88.079697,38773,30506,33101,1638.260513
1,1011010,1,Alabama,AL,Barbour County,Louisville,Clio city,City,place,36048,334,26070325,23254,31.708516,-85.611039,37725,19528,43789,258.017685
2,1011020,1,Alabama,AL,Shelby County,Columbiana,Columbiana city,City,place,35051,205,44835274,261034,33.191452,-86.615618,54606,31930,57348,926.031000
3,1011030,1,Alabama,AL,Mobile County,Satsuma,Creola city,City,place,36572,251,36878729,2374530,30.874343,-88.009442,63919,52814,47707,378.114619
4,1011040,1,Alabama,AL,Mobile County,Dauphin Island,Dauphin Island,Town,place,36528,251,16204185,413605152,30.250913,-88.171268,77948,67225,54270,282.320328

#1 Find all the 'Metric' types.

In [ ]:
# code goes here

#2 What does 'countyfips' = 0 indicate?

In [ ]:
# code goes here

#3 Find the number of counties listed for Alabama.

In [ ]:
# code goes here

#4 Which county in Arkansas has the least number of insured?

In [ ]:
# code goes here

#5 Which state has the the highest number of total uninsured?
income table --

In [ ]:
# code goes here

#6 For the income dataset how many different place types 'Type' are there?

In [ ]:
# code goes here

#7 What is the maximum 'Mean' income for a county in the state of Washington?

In [ ]:
# code goes here

#8 Which county in the state of Washington has the highest 'Mean' income?

In [ ]:
# code goes here

#9 How much does the highest 'Mean' income for the state of Washington differ from the highest 'Median' income?
join the datasets --

In [ ]:
# code goes here

#10 Perform an inner join of the coverage and income tables.

In [ ]:
# code goes here

#11 Add an order by 'Mean' income to the join statement, and display the first 20 rows.

In [ ]:
# code goes here

#12 Reverse the order of 'Mean' income and display the first 20 rows.

In [ ]:
# code goes here

#13 Add an order by 'Percent Uninsured (All)', and display the first 20 rows.

In [ ]:
# code goes here

#14 Reverse the order of  'Percent Uninsured (All)', and display the first 20 rows.

In [ ]:
# code goes here

#15 Is there evidence for a correlation between income level and the rate of uninsured for county level data?

In [ ]:
# code goes here